---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";




// Our variables
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #284b80;
$brand-color-light: #3E84BB;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$on-palm:          600px;
$on-laptop:        800px;



// Using media queries with like this:
// @include media-query($palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

@mixin small-up {
  @media #{$small-up} {
    @content
  }
}
@mixin small-only {
  @media #{$small-only} {
    @content
  }
}

@mixin medium-up {
  @media #{$medium-up} {
    @content
  }
}
@mixin medium-only {
  @media #{$medium-only} {
    @content
  }
}

@mixin large-up {
  @media #{$large-up} {
    @content
  }
}
@mixin large-only {
  @media #{$large-only} {
    @content
  }
}

@mixin xlarge-up {
  @media #{$xlarge-up} {
    @content
  }
}
@mixin xlarge-only {
  @media #{$xlarge-only} {
    @content
  }
}

@mixin xxlarge-up {
  @media #{$xxlarge-up} {
    @content
  }
}
@mixin xxlarge-only {
  @media #{$xxlarge-only} {
    @content
  }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import "settings";
@import "../bower_components/foundation/scss/foundation";
@import "../bower_components/slick.js/slick/slick";
@import "slideshow";
@import "quote";

.top-navigation {
//  @include grid-column(12);

  position: relative;
  @include medium-up {
    height: rem-calc(82.5px);
  }

  .logo {
    @include grid-column(3);
    @include small-only {
      position: relative;
      img {
        position: relative;
        padding-right: 0;
        max-width: 100%;
        margin-top: .3rem;
      }
    }

    img {
      padding-right: rem-calc(1);
      position: absolute;
      z-index: 1000;

    }
  }

  .navigation {
    @include grid-column(9, true, false, 0, 3);

  }


  nav {
    @include medium-up {
      margin-top: 65px;
      float: right;
    }

  }

  .top-bar-section ul {
    @include small-only {
      padding-right: rem-calc(8);

      li {
        border-bottom: 1px solid #000000;
        width: 75%;
        text-align: center;

        &:last-child {
          border: none;
        }

      }
    }
  }
}


.banner {
  background: url('../img/slideshow_background.png');
  background-color: #284b80;
  background-repeat: repeat-x;
  width: 100%;
  box-shadow: inset 0 .05em 1em;

//  nav {
//    @include grid-row();
//    h1, p {
//      color: #ffffff;
//      text-decoration: none;
//    }
//    h1 {
//      margin-bottom: 3px;
//      font-size: rem-calc(24);
//    }
//  }
  header {
    @include grid-row();
    h1 {
      font-size: rem-calc(32);
      color: #FFFFFF;
      font-weight: 200;
      padding-left: rem-calc(44);
      letter-spacing: rem-calc(1);

    }
  }

}

.main, .top {
  @include grid-row();
}

main {
  @include grid-column(12);
}

.about-the-doctor {
  @include grid-row();

  article, aside {
    img {
      width: 125px;
      float: left;
      margin-right: rem-calc(16);
      padding-bottom: rem-calc(1.5);
      padding-top: rem-calc(4);
    }
    h1 {
      font-size: rem-calc(18);
      padding-bottom: rem-calc(5);
      margin-bottom: rem-calc(2);
      border-bottom: 1px solid #CCCCCC;
      color: $brand-color;
      small {
        padding-top: rem-calc(6);
        display: block;
        font-size: rem-calc(12);
        color: #555555;
        line-height: rem-calc(16);
      }
    }
    font-size: rem-calc(13);

  }
  &> article {
    @include small-up {
      @include grid-column(12);
    }
    @include large-up {
      @include grid-column(7);
    }

  }
  &> aside {
    @include small-up {
      @include grid-column(12);
    }
    @include large-up {
      @include grid-column(5);
    }
  }
  margin-top: rem-calc(96);
}

.additional-info {
  h2 {
    font-size: rem-calc(20);
    color: $brand-color;
    text-align: center;
  }
  @include grid-row();
  &> article {
    font-size: rem-calc(13);
    @include small-only {
      @include grid-column(12);
    }
    @include grid-column(7);
  }
  &> aside {
    @include grid-column(5);
    @include small-only {
      @include grid-column(12);
    }
  }
}

.forms-info {
  ul {
    text-align: center;
    margin-left: 0;
    list-style-type: none;
  }
}

.faq-info {
  dd {
    font-size: rem-calc(13);
  }
  dt {
    font-size: rem-calc(16);
  }
}

.contact-info {
  address {
    text-align: center;
  }
}

.extra-care {
  @include grid-row();
  aside {
    @include grid-column(4);
    text-align: center;
    p {
      text-align: justify;
    }
  }
  h3 {
    color: $brand-color;
  }
}

.section-heading {
  clear: both;
  margin-top: rem-calc(64);
  margin-bottom: rem-calc(12);
  color: $brand-color;
  text-align: left;
}

.patients {
  figure {
    @include grid-row();
    &> img {
      @include grid-column(5);
    }
    &> figcaption {
      @include grid-column(7);
    }
    h3 {
      font-size: rem-calc(20);
      color: $brand-color;
    }

    padding-bottom: rem-calc(24);
  }
}

.doctor-photo {
  float: left;
  padding: rem-calc(24) rem-calc(24) rem-calc(24) 0;

  &+ h2 {
    padding-top: rem-calc(24);
  }
}

.payments {
  text-align: center;
  dl {
    text-align: left;
  }
  dt {
    color: #FFFFFF;
    margin-bottom: 0;
    padding-bottom: rem-calc(2);
    padding-left: rem-calc(10);
    background-color: $brand-color-light;
    font-weight: 200;
    letter-spacing: rem-calc(1);

  }
  dd {
    background-color: #DDDDDD;
    padding: rem-calc(10);
    color: #444444;

  }
  img {
    margin-bottom: rem-calc(16);

  }
}

dl {
  h2 {
    text-align: center;
    margin: rem-calc(12) auto;
  }
}

.read-more {
  float: right;
}

footer {
  margin-top: rem-calc(12);
  border-top: 1px solid #cccccc;
  text-align: center;
  p {
    font-size: rem-calc(12);
  }
}