blockquote {
  border: none;
  margin: 2em 0;
  padding: 1em 0 0 1.5em;
  text-align: center;
  q {
    position: relative;
    &:before, &:after {
      display: block;
      color: #cccccc;
      position: absolute;
      font-size: rem-calc(60);
    }
    &:before {
      padding-left: 10px;
      content: "\201C";
      left: rem-calc(-96);
      top: rem-calc(-48);
    }
    &:after {
      padding-right: 10px;
      content: "\201D";
      right: rem-calc(-64);
      bottom: rem-calc(-64);
    }
    padding: 0 1.5em 1em 0;
    text-align: center;
    font-size: rem-calc(18);
    font-style: italic;
  }

}