---
layout: default
---
<section class="banner">
    {% include image_slider.html %}
</section>

<section class="main">
    <main>
        <blockquote>
            <p><i class="open-quote">&#8220;</i><q>{{ site.data.general.home_quote }}</q><i class="close-quote">&#8221;</i></p>
        </blockquote>
        <section class="about-the-doctor">
            <article>
                <h1>
                    {{ site.data.general.headings.home.doctor }}
                    <small>{{ site.data.general.the_doctor.name }}, {{ site.data.general.the_doctor.title }}</small>
                </h1>
                <img src="img/{{ site.data.general.the_doctor.image.small }}"
                     alt="{{ site.data.general.the_doctor.name }}">

                <p>{{ site.data.general.the_doctor.about.short }}</p>
            </article>
            <aside>
                <h1>
                    {{ site.data.general.headings.home.service }}
                    <small>
                        {{ site.data.general.service_info.subtitle }}
                    </small>
                </h1>
                <img src="img/{{ site.data.general.service_info.image }}"
                     alt="{{ site.data.general.headings.home.service }}">

                <p>{{ site.data.general.service_info.description }}</p>
            </aside>
        </section>
        <hr>
        <section class="additional-info">
            <article class="faq-info">
                <h2>{{ site.data.general.headings.home.faq }}</h2>
                <dl>
                    {% assign questions = site.data.faq | where: "promoted", true %}
                    {% for question in questions %}
                        <dt>{{ question.question }}</dt>
                        <dd>
                            {{ question.answer }}
                        </dd>
                    {% endfor %}
                </dl>
            </article>
            <aside>
                <div class="forms-info">
                    <h2>{{ site.data.general.headings.home.forms }}</h2>
                    <ul>
                        {% for form in site.data.forms %}
                            <li>
                                <a href="/files/{{ form.file }}" target="_blank">{{ form.name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <hr>
                <div class="contact-info">
                    <h2>{{ site.data.general.headings.home.contact }}</h2>
                    <address>
                        {{ site.data.contact.name }} <br>
                        {{ site.data.contact.street }} <br>
                        {{ site.data.contact.city }}, {{ site.data.contact.state }} {{ site.data.contact.zip }} <br>
                        {% for number in site.data.contact.phone_numbers %}
                            <a href="tel:+1{{ number.machine }}">{{ number.human }}</a> <br/>
                        {% endfor %}

                        <a href="mailto:{{ site.data.contact.email_address }}">{{ site.data.contact.email_address }}</a>
                    </address>
                </div>
            </aside>
        </section>
    </main>
</section>
