<header>
    <img src="../img/logo.png">
    <nav>
        <ul>
            <li>
                <a href="http://advancedsedation.com/">Home</a>
            <li>
                <a href="http://advancedsedation.com/patients/">Patients</a>
            </li>
            <li>
                <a href="http://advancedsedation.com/dental-offices/">Dental Offices</a>
            </li>
            <li>
                <a href="http://advancedsedation.com/faq/">FAQ</a>
            </li>
            <li>
                <a href="http://advancedsedation.com/our-doctors/">The Doctor</a>
            </li>
            <li>
                <a href="http://advancedsedation.com/testimonials/">Testimonials</a>
            </li>
            <li>
                <a href="http://advancedsedation.com/contacts/">Contact Us</a>
            </li>
        </ul>
    </nav>
</header>
